body {
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.log-workout-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
    margin: 40px auto;
    background: rgba(44, 62, 80, 0.9); /* Semi-transparent blue */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000; /* White text for better contrast */
}

.log-workout-form input[type="number"],
.log-workout-form select,
.log-workout-form input[type="text"] {
    background: rgba(255, 255, 255, 0.2); /* Lighter background for inputs */
    color: #0293a7;
    width: 100%; /* Adjust width to account for padding */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}

  .log-workout-form label {
    display: block;
    margin-bottom: 4px;
  }

  .exercise-group {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e8e5e5de;
  }

  .pair-group {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #c0cad1de;
  }

  .custom-exercise {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #797979de;
  }
  
  .remove-button, .add-button, .submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
    transition: background-color 0.3s;
  }
  
  .remove-button {
    background-color: #666668;
    color: white;
  }
  
  .add-button {
    background-color: #0f3443; /* Dark blue to match the theme */
    color: white;
  }
  
  .submit-button {
    background-color: #2196F3;
    color: white;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .log-workout-form {
      width: auto;
      padding: 15px;
    }
  
    .remove-button, .add-button, .submit-button {
      width: calc(100% - 20px); /* Subtract padding from the width */
    }
  }
  